<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
</head>
<body>

    <%- include('navbar') %>

    <h1>Hola mundo 2</h1>

    <ul>
        <% notas.forEach((nota) => { %>
            <%- include('nota', {nota}) %>
        <% }); %>
    </ul>

    <%- include('footer') %>
</body>
</html>