<nav>
    <h1>navbar</h1>
    <ul>
        <li><a href="/">ir a home</a></li>
        <li><a href="/mis-notas">ir a notas</a></li>
        <li><a href="/info">ir a info</a></li>
        <li><a href="/config">ir a config</a></li>
    </ul>
</nav>